<h1>
  Get authorized
</h1>

<h2>
  Link to
</h2>
<pre>
  <%= @doc.auth_url %>
</pre>

<%= link_to('Auth code', @doc.auth_url.to_s) %>

<h2>
  Returned code
</h2>
<pre>
  <%= @code ? @code : 'no code yet' %>
</pre>

<h2>
  Links?
</h2>
<pre>
  <%= @quora_links %>
</pre>