<div class="row">
  <div class="col-xs-12">
    
    <header class="page-header clearfix">
      <h1 class="pull-left">
        Scrapes Index
        <small>
          (Ordered by Neweset - Oldest)
        </small>
      </h1>

      <%= link_to('+ New Scrape', new_scrape_path, :class => 'btn btn-primary btn-lg pull-right') %>
    </header>

    <% if @scrapes.present? %>
      
      <ul class="list-group">
        <% @scrapes.each do |scrape| %>
          <li class="list-group-item">
            
            <%= render scrape %>

          </li>
        <% end %>
      </ul>

    <% else %>

      <p class="text-warning">
        No scrapes yet
      </p>

    <% end %>

  </div><!-- col -->
</div><!-- row -->

