// Place all the styles related to the Scrapes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scrape-data{
  display: block;
  max-width: 960px;
  word-wrap: break-word;
}

@media only screen and (min-width: 1024px) and (max-width: 1356px) {
  .scrape-data {
    max-width: 768px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .scrape-data {
    max-width: 512px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .scrape-data {
    max-width: 256px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 479px) {
  .scrape-data {
    max-width: 156px;
  }
}

@media only screen and (max-width: 320px) {
  .scrape-data {
    max-width: 128px;
  }
}
