<div class="row">
  <div class="col-xs-12">

    <header class="page-header">
      <h1>
        Edit Spreadsheet Reference
      </h1>
    </header>

    <div class="form-container">
      <%= render :partial => 'form', :locals => {:spreadsheet => @spreadsheet} %>
    </div>

  </div><!-- col -->
</div><!-- row -->